<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO ALUMNOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css" />
</head>
<body>
    <div id="page-wrapper">

        <!-- Header -->
            <section id="header">
                <div class="container">

                    <!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li><a class="icon solid fa-home" href="inicio.html"><span>Inicio</span></a></li>
                                <li>
                                    <a href="alumnos.html" class="icon fa-chart-bar"><span>Alumnos</span></a>
                                    
                                </li>
                                <li>
                                    <a href="materias.html" class="icon fa-chart-bar"><span>Inscripción de Materias</span></a>
                                </li>
                            </ul>
                        </nav>

                </div>
            </section>
    </div>
    <div id="appAlumnos" class="container-fluid">
        <form v-on:submit.prevent="guardarAlumnos" v-on:reset="limpiar" ><!--v-on:update=modificar-->
            <div class="row">
                <div class="col-sm-5">
                    <div class="row p-2">
                        <div class="col-sm text-center text-white bg-dark">
                            <h5>REGISTRO DE Materias</h5>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">CODIGO:</div>
                        <div class="col-sm">
                            <input v-model="alumno.codigo" required type="text" class="form-control form-control-sm" ><!-- pattern="^[A-Z]{2}[0-9]{8}$" -->
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">NOMBRE: </div>
                        <div class="col-sm">
                            <input v-model="alumno.nombre" required  type="text" class="form-control form-control-sm"><!--pattern="[A-ZÑña-z0-9 ]{5,65}" -->
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">DIRECCION:</div>
                        <div class="col-sm">
                            <input v-model="alumno.direccion" required  type="text" class="form-control form-control-sm"><!-- pattern="^[0-9](.)+?[0-9]$"-->
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">MATERIA:</div>
                        <div class="col-sm">
                            <input v-model="alumno.materia" required  type="text" class="form-control form-control-sm"><!-- pattern="^[0-9](.)+?[0-9]$"-->
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">DOCENTE:</div>
                        <div class="col-sm">
                            <input v-model="alumno.docente" required  type="text" class="form-control form-control-sm"><!-- pattern="^[0-9](.)+?[0-9]$"-->
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">GRUPO:</div>
                        <div class="col-sm">
                            <input v-model="alumno.grupo" required  type="text" class="form-control form-control-sm"><!-- pattern="^[0-9](.)+?[0-9]$"-->
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-sm">IMAGEN:</div>
                        <div class="col-sm">
                            <img width="200" height="200" class="rounded-circle" :src="alumno.img">
                            <!--<img class="img-fluid" :src="producto.img2">-->
                            <input v-on:change="obtenerImg($event)" multiple type="file" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row -p-2">
                        <div class="col-sm text-center">
                            <input type="submit" value="Guardar" class="btn btn-dark">
                            <input type="reset" value="Limpiar" class="btn btn-warning">
                            <!--<input type="update" value="Modificar" class="btn btn-danger">-->
                        </div>
                    </div>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm-6 p-2">
                    <div class="row text-center text-white bg-dark">
                        <div class="col"><h5>ALUMNOS REGISTRADOS</h5></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="tble table-sm">
                                <thead>
                                    <tr>
                                        <th>CODIGO</th>
                                        <th>NOMBRE</th>
                                        <th>DIRECCION</th>
                                        <th>MATERIA</th>
                                        <th>DOCENTE</th>
                                        <th>GRUPO</th>
                                        <th>IMG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="pro in alumnos" v-on:click="mostrarAlumnos(pro)">
                                        <td>{{ pro.codigo }}</td>
                                        <td>{{ pro.nombre }}</td>
                                        <td>{{ pro.direccion }}</td>
                                        <td>{{ pro.materia }}</td>
                                        <td>{{ pro.docente }}</td>
                                        <td>{{ pro.materia }}</td>
                                        <td>{{ pro.img }}</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main2.js"></script>
</body>
</html>